@use "../../global/" as global;

/* --------------------------------------------------------------------------------
   .c-ttl-3 : 見出し（レベル3）
----------------------------------------------------------------------------------- */

.c-ttl-3 {
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  padding: .2rem 1rem;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.5;
  color: global.$c-white;
  border-radius: .3rem;
  background-color: global.$c-main-text;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @include global.mq-down(tab) {
  }

  @include global.mq-down(pcS) {
    padding: .6rem 1rem;
  }
}
