@use "../../global/" as global;

/* --------------------------------------------------------------------------------
   .p-chart-leader : 診断結果（リーダー像）
----------------------------------------------------------------------------------- */

.p-chart-leader {
  width: 100%;
  max-width: 75rem;
  height: 25rem;
  margin: 0 auto;

  @include global.mq-down(sp) {
  }
}
